.alerts {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-green);
    border-radius: .5rem;
    align-self: stretch;
    color: var(--font-white);
    flex: 3;
}

.alerts-nav {
    display: flex;
    flex-direction: row;
}

.alerts-list {
    display: flex;
    flex-direction: column;
    align-items: stretch; 

    &:last-child {
        border-bottom: .2rem solid var(--secondary-green);
    }
    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 8rem;
        border-top: .2rem solid var(--secondary-green);
    }
    &__item > * {
        margin: 0 auto;
        width: 10%;
    }
    &__message {
    }
    &__icon-container {
        padding: 1rem;
        width: 4rem;
        height: 4rem;
        background-color: var(--secondary-green);
        border-radius: .3rem;
    }
}