:root {
    --dark-gray: #4b545d;
    --dim-gray: #596169;
    --bg-white: #f3f5f8;
    --font-white: #ecf3eb;
    --dashboard-blue: #67a3e7;
    --primary-green: #5bb892;
    --secondary-green: #7bc6a7;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

